<FilesMatch "(pc_.*|dem.*|friends.*|motto.*)">
 Order Deny,Allow
 Deny from All
 Allow from localhost .distributed.net
 Allow from .slacker.com
</FilesMatch>

RewriteEngine On
RewriteBase /

# team files that used to be in the root directory.
RewriteRule ^(tm[a-z_]*|newteam[1-4])\.php3$ /team/$1.php  [R]
RewriteRule ^(tm[a-z_]*|newteam[1-4])\.php3\?(.*)$ /team/$1.php?$2  [R]

# participant files that used to be in the root directory.
RewriteRule ^(p[a-z_]*)\.php3$ /participant/$1.php  [R]
RewriteRule ^(p[a-z_]*)\.php3\?(.*)$ /participant/$1.php?$2  [R]

# files that are specific to rc5-64
RewriteRule ^rc5-64/+(p[a-z_]*)\.php3$ /participant/$1.php?project_id=6   [R]
RewriteRule ^rc5-64/+(p[a-z_]*)\.php3\?(.*)$ /participant/$1.php?project_id=6&$2  [R]
RewriteRule ^rc5-64/+(t[a-z_]*)\.php3$ /team/$1.php?project_id=6   [R]
RewriteRule ^rc5-64/+(t[a-z_]*)\.php3\?(.*)$ /team/$1.php?project_id=6&$2  [R]

# files that are specific to ogr
RewriteRule ^ogr-(24|25)/+(p[a-z_]*)\.php3$ /participant/$2.php?project_id=$1   [R]
RewriteRule ^ogr-(24|25)/+(p[a-z_]*)\.php3\?(.*)$ /participant/$2.php?project_id=$1&$3   [R]
RewriteRule ^ogr-(24|25)/+(t[a-z_]*)\.php3$ /team/$2.php?project_id=$1   [R]
RewriteRule ^ogr-(24|25)/+(t[a-z_]*)\.php3\?(.*)$ /team/$2.php?project_id=$1&$3   [R]


