# $Id: .htaccess,v 1.14 2010/01/16 03:48:25 chrisj Exp $
#####################################################################
# Deny access to the live versions of these pages.  These pages 
# are cached nightly during statsrun, and are available remotely 
# for debug only from authorised locations
#####################################################################
<FilesMatch "(pc_.*|dem.*|friends.*|motto.*)">
 Order Deny,Allow
 Deny from All
 Allow from localhost
 Allow from .distributed.net
 # Nuggethaus
 #Allow from .slacker.com
 # Cowhaus
 Allow from .bovine.net
 Allow from 99.153.64.72/29
 Allow from 99.23.192.252
 # ChrisJ
 Allow from .aprole.com
</FilesMatch>

<Files "*.inc">
 Order Deny,Allow
 Deny from All
 Allow from localhost .distributed.net
</Files>

RewriteEngine On
RewriteBase /

# team files that used to be in the root directory.
RewriteRule ^(tm[a-z_]*|newteam[1-4])\.php3$ /team/$1.php  [R]

# participant files that used to be in the root directory.
RewriteRule ^(p[a-z_]*)\.php3$ /participant/$1.php  [R]


# files that are specific to rc5-64
RewriteRule ^rc5-64(/+(index\.html)?)?$ /projects.php?project_id=5  [R]
RewriteRule ^rc5-64/+countries\.html$ /misc/countries.php?project_id=5&source=o   [R]
RewriteRule ^rc5-64/+countries-y\.html$ /misc/countries.php?project_id=5&source=y   [R]
RewriteRule ^rc5-64/+(platformlist)\.php3$ /misc/$1.php?project_id=5   [R,QSA]
RewriteRule ^rc5-64/+(p[a-z_]*)\.php3$ /participant/$1.php?project_id=5   [R,QSA]
RewriteRule ^rc5-64/+(t[a-z_]*)\.php3$ /team/$1.php?project_id=5   [R,QSA]


# files that are specific to ogr
RewriteRule ^ogr-(2[4-6])(/+(index\.html)?)?$ /projects.php?project_id=$1  [R]
RewriteRule ^ogr-(2[4-6])/+countries\.html$ /misc/countries.php?project_id=$1&source=o   [R]
RewriteRule ^ogr-(2[4-6])/+countries-y\.html$ /misc/countries.php?project_id=$1&source=y   [R]
RewriteRule ^ogr-(2[4-6])/+(platformlist)\.php3$ /misc/$2.php?project_id=$1   [R,QSA]
RewriteRule ^ogr-(2[4-6])/+(p[a-z_]*)\.php3$ /participant/$2.php?project_id=$1   [R,QSA]
RewriteRule ^ogr-(2[4-6])/+(t[a-z_]*)\.php3$ /team/$2.php?project_id=$1   [R,QSA]


